:root {
  font-family: 'Poppins', sans-serif;
}

body, div, h1, h2, h3, p, i, ul, li,
form, label, aside, section {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

input {
  padding: .5rem;
}

textarea {
  font-family: inherit;
  padding: .5rem;
}

ul {
  list-style: outside;
  margin-left: 1rem;
}

span {
  color: #767575;
  font-size: .8rem;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
}

.sidebar {
  width: 30%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid .1rem #000;
  border-radius: 1rem;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-items-wrapper {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: max-height 1000ms ease-in-out;
}

.form-container.active .form-items-wrapper {
  max-height: 600px;
}

.fa-angle-down {
  background-color: transparent;
  border-radius: 50%;
  padding: .5rem;
  transition: 300ms ease-in-out;
}

.fa-angle-down:hover,
.fa-angle-down:focus {
  color: #fff;
  background-color: rgb(164, 162, 162);
  border-radius: 50%;
  cursor: pointer;
}

.fa-angle-down.active {
  transform: rotate(180deg);
}

.add-btn {
  width: 3rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

.form-item {
  display: block;
  padding: 1rem;
  background-color: rgb(200, 200, 200);
  border: transparent solid .1rem;
  border-radius: 1rem;
  transition: 200ms ease-in-out;
}

.form-item:hover,
.form-focus {
  border: #000 solid .1rem;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input-field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.achievement {
  gap: .5rem;
  padding-left: 1rem;
  border-left: solid .1rem #000;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  padding: .3rem 0;
}

.btn {
  background-color: #fff;
  padding: .5rem;
  border: solid .1rem black;
  border-radius: .5rem;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: rgb(164, 162, 162);
}

.main {
  width: 70%;
}

.cv-display {
  width: 744px;
  height: 1052px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    'personal personal personal'
    'education work work'
    'education work work'
    'education work work'
    'education work work';
  padding: 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);
}

.cv-personal {
  grid-area: personal;
}

.cv-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid .2rem #000;
}

.cv-about {
  grid-area: about;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-bottom: solid .2rem #000;
}

.cv-about-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}

.contact-icons {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-icon {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.cv-education {
  grid-area: education;
  border-right: solid .2rem #000;
}

.section-title {
  padding: .5rem 1rem;
  border-bottom: solid .2rem #000;
}

.section-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-work {
  grid-area: work;
}

.company-item {
  padding: 1rem;
}

.company-heading {
  display: flex;
  justify-content: space-between;
}

.company-heading-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: .5rem;
}

.company-heading-left {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.company-skills {
  padding-right: 1rem;
}